version: "3.9"

services:
  web:
    build:
      context: .
      target: runner-web
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - api
    restart: unless-stopped

  api:
    build:
      context: .
      target: runner-worker
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: unless-stopped
